@import url('https://fonts.googleapis.com/css?family=Barlow:300,400');

body{
    background: rgba(204, 217, 206, 0.1);
    font-family: 'Barlow', sans-serif;    
}

.col-sm-6{
    padding: 1%;
    float: left;
}

.border{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 2%;
}
.wishes{
    text-align: center;
    border-bottom: solid black 2px;
    font-size: 18px;
    font-weight: 400;
}

label{
    padding-right: 1%;
}

input{
    margin-right: 1%;
}

.input-group{
    width: 20%;
}